<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Controle de Estoque {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="sidebar">
    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='assets/logo.png') }}" alt="Logo"></a>
    <a href="{{ url_for('produtos') }}">Produtos</a>
    <a href="{{ url_for('localidades') }}">Localidades</a>
    <a href="{{ url_for('movimentacoes') }}">Movimentacoes</a>
    <a href="{{ url_for('login') }}">Logout</a>

</div>

<div class="content">
    <h1>Controle de Estoque</h1>
    {% block content %}{% endblock %}
</div>

</body>
</html>
