{% extends 'base.html' %}

{% block title %} Produtos - Controle de Estoque {% endblock %}

{% block content %}
    <h1>Localizações de filiais</h1>
    <table>
        <tr>
            <td>Cidade</td>
            <td>Estado</td>
        </tr>
        <tr>
            <td>Campinas</td>
            <td>São Paulo</td>
        </tr>
        <tr>
            <td>Nova Resende</td>
            <td>Minas Gerais</td>
        </tr>
        <tr>
            <td>Cacolé</td>
            <td>Bahia</td>
        </tr>
        <tr>
          <td>Sumaré</td>
          <td>São Paulo</td>
        </tr>
    </table>
  </div>
{% endblock %}
