{% extends 'base.html' %}

{% block title %} Produtos - Controle de Estoque {% endblock %}

{% block content %}
    <h1>Quadro de Produtos</h1>
    <table>
        <thead>
            <tr>
                <th>Produtos</th>
                <th>Quantidades</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Produto 1</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Produto 2</td>
                <td>20</td>
            </tr>
            <tr>
                <td>Produto 3</td>
                <td>15</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
